# ========= WSL target drive =========
TARGET_DRIVE=D
TARGET_ROOT=\WSL

# ========= WSL resources =========
WSL_MEMORY=8GB
WSL_CPUS=6
WSL_SWAP=2GB
WSL_SWAP_DRIVE=D

# ========= Ubuntu distro name =========
DISTRO_NAME=Ubuntu-22.04

# ========= Linux user =========
DEV_USER=anhnnp

# ========= Base toggles =========
ENABLE_SYSTEMD=true
AUTO_MIGRATE_IF_ON_C=true

# ========= Prompts (ask/true/false) =========
INSTALL_NODEJS=ask
INSTALL_PHP=ask

# ========= NodeJS =========
NODE_VERSION=lts
PKG_MANAGER=pnpm
INSTALL_GLOBAL_TS_TOOLS=true
CREATE_SAMPLE_APP=false
SAMPLE_APP_NAME=my-react-ts-app
SAMPLE_APP_DIR=~/projects

# ========= PHP (multi versions) =========
PHP_VERSIONS=8.1,8.2,8.3
PHP_DEFAULT=8.2
INSTALL_COMPOSER=true
INSTALL_PHP_EXTENSIONS=mbstring,curl,xml,zip,gd,intl,mysql,pgsql